.graph-container {
    width: 100%;     /* Full width by default */
    max-width: 1200px; /* Limit width on larger screens */
}
  
iframe {
    width: 100%;
    height: 500px;   /* Default height for desktop */
}
  
/* Media query for mobile screens */
@media (max-width: 480px) {
.graph-container {
    max-width: 100%;  /* Ensure it takes the full width on mobile */
}
iframe {
    width: calc(100vh - 100px);;   /* Use full viewport width */
    height: 70px;   /* Adjust height based on the available viewport height */
    }
}
  